<div class="container">
  <div class="input-group">
    <input type="number" [(ngModel)]="simpleObject.a" min="1" max="5" class="input-field">
    <input type="number" [(ngModel)]="simpleObject.b" min="1" max="5" class="input-field">
    <input type="number" [(ngModel)]="simpleObject.c" min="1" max="5" class="input-field">
    <button (click)="createObject()" class="btn">Create Object</button>
  </div>

  <div class="object-list">
    <select [(ngModel)]="selectedObjectId" class="dropdown">
      <option *ngFor="let obj of objectsList" [value]="obj._id">{{obj.a}}, {{obj.b}}, {{obj.c}}</option>
    </select>
    <button (click)="updateObject()" class="btn">Update Object</button>
    <button (click)="loadObject(selectedObjectId)" class="btn">Load Selected Object</button>
  </div>

  <div class="delete-buttons">
    <button *ngFor="let obj of objectsList" (click)="deleteObject(obj._id)" class="btn-delete">
      Delete {{obj.a}}, {{obj.b}}, {{obj.c}}
    </button>
  </div>
</div>

